.footer{
    grid-column: 1/-1;

    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-top : 7.7rem;
    margin-bottom : 9.5rem;
    padding-left : 10rem;
    // padding-right : 12.6rem;
    .footerp{
        width : 40%;
        font-weight: 400;
        font-size: 1.4rem;
        color :  rgba(85, 61, 103, 1);
        margin-right : auto;

    }

    &__icons{
        width : 50%;
        display: flex;
        gap : 2.17rem;
        justify-content: center;
        align-items: center;
        padding-right : 5rem;
    }
}