.reviewblock{
    grid-column: 1/-1;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr;
    width : 100%;
    // background-color: pink;
    // .headre{
    //     width : 100%;
    // }
    .headre{
        // display: flex;
        // align-items: center;
        // display: inline;
        // text-align: center;
        // color : #553D67;
        // font-size:4.8rem;
        // font-weight: 400;
        // width : 100%;
        // margin: 2rem auto;
        // margin-bottom: 4rem;
        // margin-top:19.8rem;

        text-align: center;
        color : #553D67;
        font-size:4.8rem;
        font-weight: 400;
        // width : 40.3rem;
        text-align: center;
        justify-self: center;
        align-self: center;

    //     @media only screen and(max-width : 740px)
    // {
    //     font-size : 3.5rem;
    // }


        // @media  only screen and(max-width : 742px) {
        //     font-size : 3rem;
        // }


        span{
           
           border-bottom: 3px solid #F64C72;
            // border-bottom-width: 1px;
            padding-bottom: 3rem;
        }

        hr{
            // color :  #F64C72;
            // width : 50%;
            
            // height : 1px;
            // border-style: none;
            // padding-top : 3rem;

            border: 1px solid #F64C72;
        }
        .line{
            margin : 1rem auto;
            width : 50%;
            // border-radius: 0;
        }

        // display: block;
        // align-self: center;
        // justify-self: center;
        // text-align: center;
        // color : #553D67;
        // font-size:4.8rem;
        // width : 43.2rem;
        // font-weight: 400;
        // // display: flex;
        // // justify-content: center;
        // margin: 2rem auto;
        // margin-bottom: 4rem;


        // span{
        //    padding-bottom : 2.5rem;
        //    border-bottom: 3px solid #F64C72;
        //     // border-bottom-width: 1px;
        // }
    }
    // .next{
    //     justify-self: end;
    //     align-self: end;
    //     padding-top:2rem;
    //     transform: translate(-50% 80%);
    //     font-size: 1.5rem;
    // }

}

.reviews{
    display: flex;
    flex-wrap: wrap;
    // overflow: auto;
    gap : 2.9rem;
    margin-top:9.2rem;
    margin-bottom : 8rem;
    margin-left: auto;
    margin-right: auto;
    // margin-left : 1.5rem;
    // justify-content: flex-end;
    @media only screen and(max-width:300px)
        {
            align-items: center;
            justify-content: center;
            
        }
}

.review{
    box-shadow: 0px 10px 15px rgba(6, 0, 0, 0.25);
    display: flex;
    flex-wrap:wrap;
    // justify-content: center;
    // align-items: flex-start;
    // width:300px;
    flex-direction: column;
    background-color: white;
    padding : 2rem 0;
    padding-left : 4.6rem;
    gap :1rem;
    border-radius: 8px;
    padding-bottom: 4.6rem;
    @media only screen and(max-width:300px)
        {
            padding: 0;
            
        }
    

    // margin-left:4.6rem;
    .reviewp{
        width : 27rem;
        font-weight : 400;
        font-size:1.8rem;
        // transform: rotate(0.39deg);
        color: #6D7D8B;
        margin-bottom: 5rem;
        // text-align: center;
        // margin : 3.08rem  4.9rem 4.3rem 1.37rem;
        @media only screen and(max-width:420px)
        {
            width : 100%;
            
        }
    }

    &__critic{
        display: flex;
        justify-content: center;
        align-items: center;
        // margin : 2rem 0;
        // gap : 1rem;
        // width : 17rem;
        // transform: translateX(2rem);

        .photo{
            width : 5.6rem;
            margin-right:1.3rem;
        }

        .reviewrole{
            // width : 13.;
            // color: #6D7D8B;
            // font-weight: 600;
            .rolename{
                width:13.2rem;
                font-weight:600;
                font-size:1.8rem;
                color: #6D7D8B;
            }
        p{
            font-weight:400;
            width:15rem;
            font-size:1.4rem;
            display: inline-block;
            color: #6D7D8B;
        }}
        }
        &__stars{
            // margin : 8.4rem 0 20.7rem 4.6rem ;
            margin-top:8.4rem;
            margin-bottom: 3.0;
    
        }
    }

    .nextre{
        transform: translateY(-30%);
    }
